In [17]:
import sqlite3

connection=sqlite3.connect("chinook.db")
mycursor=connection.cursor()

In [18]:
query='SELECT * FROM genres;'
for i in mycursor.execute(query):
    print(i)

(1, 'Rock')
(2, 'Jazz')
(3, 'Metal')
(4, 'Alternative & Punk')
(5, 'Rock And Roll')
(6, 'Blues')
(7, 'Latin')
(8, 'Reggae')
(9, 'Pop')
(10, 'Soundtrack')
(11, 'Bossa Nova')
(12, 'Easy Listening')
(13, 'Heavy Metal')
(14, 'R&B/Soul')
(15, 'Electronica/Dance')
(16, 'World')
(17, 'Hip Hop/Rap')
(18, 'Science Fiction')
(19, 'TV Shows')
(20, 'Sci Fi & Fantasy')
(21, 'Drama')
(22, 'Comedy')
(23, 'Alternative')
(24, 'Classical')
(25, 'Opera')

In [19]:
mycursor.execute("""SELECT name FROM sqlite_master  
  WHERE type='table';""")
print(mycursor.fetchall())

[('albums',), ('sqlite_sequence',), ('artists',), ('customers',), ('employees',), ('genres',), ('invoices',), ('invoice_items',), ('media_types',), ('playlists',), ('playlist_track',), ('tracks',), ('sqlite_stat1',)]

In [33]:
albums_table=mycursor.execute('SELECT * FROM albums;')
list(map(lambda x: x[0] ,albums_table.description))

['AlbumId', 'Title', 'ArtistId']

In [36]:
artist=mycursor.execute("select * from artists limit 10")
for i in artist:
    print(f"the name of artist is :{i[1]}")

the name of artist is :AC/DC
the name of artist is :Accept
the name of artist is :Aerosmith
the name of artist is :Alanis Morissette
the name of artist is :Alice In Chains
the name of artist is :Antônio Carlos Jobim
the name of artist is :Apocalyptica
the name of artist is :Audioslave
the name of artist is :BackBeat
the name of artist is :Billy Cobham

In [39]:
artist=mycursor.execute("select * from artists where name like '%ad%'")
for i in artist:
    print(f"the name of artist is :{i[1]}")

the name of artist is :Cidade Negra
the name of artist is :Vinícius De Moraes & Baden Powell
the name of artist is :Motörhead
the name of artist is :Motörhead & Girlschool
the name of artist is :Dread Zeppelin
the name of artist is :Habib Koité and Bamada
the name of artist is :Academy of St. Martin in the Fields & Sir Neville Marriner
the name of artist is :Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner
the name of artist is :Berliner Philharmoniker, Claudio Abbado & Sabine Meyer
the name of artist is :Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair
the name of artist is :Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra
the name of artist is :Academy of St. Martin in the Fields, Sir Neville Marriner & William Bennett
the name of artist is :Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart
the name of artist is :Adrian Leaper & Doreen de Feis

In [40]:
artist=mycursor.execute("select * from artists where name like '%ad'")
for i in artist:
    print(f"the name of artist is :{i[1]}")

the name of artist is :Motörhead

In [42]:
artist=mycursor.execute("select * from artists where name like '%_d'")
for i in artist:
    print(f"the name of artist is :{i[1]}")

the name of artist is :Def Leppard
the name of artist is :Motörhead
the name of artist is :Pink Floyd
the name of artist is :Simply Red
the name of artist is :Jack's Mannequin & Mick Fleetwood
the name of artist is :Berliner Philharmoniker & Hans Rosbaud

In [44]:
artist=mycursor.execute("select * from artists where name like '%m__'")
for i in artist:
    print(f"the name of artist is :{i[1]}")

the name of artist is :Chico Science & Nação Zumbi
the name of artist is :Santana Feat. Rob Thomas
the name of artist is :Aquaman
the name of artist is :Nação Zumbi
the name of artist is :Luciana Souza/Romero Lubambo
the name of artist is :Ton Koopman
the name of artist is :Itzhak Perlman